<section *ngIf="isActive">
  <div class="divContenedor">
    <img src="../assets/imagenes/Logo 1.png">
    <input id="Usuario" type="text" placeholder="Usuario" name="Usuario">
    <input id="Contraseña" type="password" placeholder="Contraseña" name="Contraseña">
    <div class="divOlvideContraseña">
      <a href="#">OLVIDÉ MI CONTRASEÑA</a>
    </div>
    <div class="divBotones">
      <button class="botonRegistrar">REGISTRARME</button>
      <button class="botonIngresar" routerLink="index" [ngClass]="{ 'is-active' : isActive }"
        (click)="toggle()">INGRESAR</button>
    </div>
  </div>
</section>
<router-outlet *ngIf="!isActive"></router-outlet>