hr{
    color: rgb(5, 5, 5);
}
img {
    
    width: 300px;
	height: 150px;
    margin: 5%;
}
.divContenedor{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    margin-left: 20%;
    margin-top: 10%;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin: 5%;
}
a{
    color: blanchedalmond;
    size: 25%;
}
.divOlvideContraseña{
    width: 300px;
    height: 50px;
    background-color: rgba(97, 42, 25, 0.589);
    border-style: none;
    border-radius: 30px;
    display: grid;
    align-content: space-around;
    justify-content: space-around;
}
.divBotones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
button{
    width: 40%;
    height: 50px;
    border-style: none;
    border-radius: 30px;
    margin: 5%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.botonRegistrar{
    color: brown;
    background-color: blanchedalmond;
}
.botonIngresar{
    color: blanchedalmond;
    background-color: brown;
}
/*TAMAÑO DE LA PANTALLA*/
@media all and (max-width: 600px){
    .divContenedor{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    img {
        width: 200px;
        height: 100px;
    }
    input{
        width: 200px;
        margin: 5%;
    }
    .divOlvideContraseña{
        width: 200px;
        height: 50px;
        margin: 1%;
    }
    .divBotones{
        display: contents;
    }
    button{
        width: 200px; 
        height: 50px;
        margin: 1%;
    }
}