<a class="navigation-toggle" id="nav-open" (click)="is_open = !is_open">Menu</a>

<nav class="navigation" id="main-navigation" *ngIf="!is_open">
    <div>
        <ul>
            <li>
                <input style="width: 85%; height: 50px;  border-radius: 10px;" type="text" placeholder="Buscar"
                    name="Buscar">
            </li>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Pedido</a>
            </li>
            <li>
                <a href="">Productos</a>
            </li>
            <li>
                <a href="">efemenias</a>
            </li>
            <li>
                <a href="">Ayuda</a>
            </li>
            <li>
                <a href="">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>

<section>
    <div class="div1" mat-grid-list style="float: right;" cdkDropListGroup>
        <button class="boton" (click)="disableDIV = !disableDIV">AGREGAR PEDIDO</button>

        <div class="window-notice" id="window-notice" *ngIf="disableDIV">
            <div class="content">
                <div class="content-text">
                    <div class="content-buttons">
                        <button class="boton" (click)="disableDIV = !disableDIV">Cerrar</button>
                        <div class="divContenedorCajaProductos">
                            <div cdkDropList #COLAList="cdkDropList" [cdkDropListData]="COLA"
                                [cdkDropListConnectedTo]="[ENPREPARACIONList]" (cdkDropListDropped)="drop($event)">
                                <div class="divCajaProductos" *ngFor="let item of COLA" cdkDrag>
                                    <img class="imgProductos" src="/src/assets/imagenes/Logo 1.png">
                                    <br>
                                    <hr>
                                    <br>
                                    {{item}}
                                    <br>
                                    {{item}}
                                    <br>
                                    {{item}} - {{item}} - {{item}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <LAbel>
            <h1>COLA</h1>
        </LAbel>
        <div class="divContenedorCaja">
            <div cdkDropList #COLAList="cdkDropList" [cdkDropListData]="COLA"
                [cdkDropListConnectedTo]="[ENPREPARACIONList]" (cdkDropListDropped)="drop($event)">
                <div class="divCaja" *ngFor="let item of COLA" cdkDrag>
                    {{item}} - {{item}}
                    <hr>
                    {{item}} - {{item}} - {{item}}
                    <br>
                    {{item}} - {{item}} - {{item}}
                </div>
            </div>
        </div>
        <LAbel>
            <h1>EN PREPARACIÓN</h1>
        </LAbel>
        <div class="divContenedorCaja">
            <div cdkDropList #ENPREPARACIONList="cdkDropList" [cdkDropListData]="ENPREPARACION"
                [cdkDropListConnectedTo]="[COLAList]" (cdkDropListDropped)="drop($event)">
                <div class="divCaja" *ngFor="let item of ENPREPARACION" cdkDrag>
                    {{item}} - {{item}}
                    <hr>
                    {{item}} - {{item}} - {{item}}
                    <br>
                    {{item}} - {{item}} - {{item}}
                </div>
            </div>
        </div>
        <LAbel>
            <h1>FINALIZADO</h1>
        </LAbel>
        <div class="divContenedorCaja">
            <div class="divCOLA">
                <div cdkDropList #FINALIZADOList="cdkDropList" [cdkDropListData]="FINALIZADO"
                    [cdkDropListConnectedTo]="[ENPREPARACIONList]" (cdkDropListDropped)="drop($event)">
                    <div class="divCaja" *ngFor="let item of FINALIZADO" cdkDrag>
                        {{item}} - {{item}}
                        <hr>
                        {{item}} - {{item}} - {{item}}
                        <br>
                        {{item}} - {{item}} - {{item}}
                    </div>
                </div>
            </div>
        </div>
        <LAbel>
            <h1>ENTREGADO</h1>
        </LAbel>
        <div class="divContenedorCaja">
            <div class="divCOLA">
                <div cdkDropList #ENTREGADOList="cdkDropList" [cdkDropListData]="ENTREGADO"
                    [cdkDropListConnectedTo]="[FINALIZADOList]" (cdkDropListDropped)="drop($event)">
                    <div class="divCaja" *ngFor="let item of ENTREGADO" cdkDrag>
                        {{item}} - {{item}}
                        <hr>
                        {{item}} - {{item}} - {{item}}
                        <br>
                        {{item}} - {{item}} - {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>